<mat-card class="person-card">
  <mat-card-content>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="profilePersonalForm" state="person">
        <form [formGroup]="profilePersonalForm">
          <ng-template matStepLabel>Informações Pessoais</ng-template>
          <div>
            <mat-form-field class="margin-right" fxFlex="70">
              <input matInput type="text" placeholder="Nome" formControlName="name">
            </mat-form-field>
            <mat-list fxFlex="30">
              <label mat-subheader>Sexo</label>
              <mat-radio-group formControlName="gender">
                <mat-radio-button value="F" required checked="true">Feminino</mat-radio-button>
                <mat-radio-button value="M" required>Masculino</mat-radio-button>
              </mat-radio-group>
            </mat-list> 
          </div>

          <div fxLayout="col">
            <mat-form-field fxFlex="22" class="margin-right">
              <input matInput type="text" mask="000.000.000-00" placeholder="CPF" formControlName="cpf">
            </mat-form-field>
            <mat-form-field fxFlex="22" class="margin-right">
              <input matInput type="text" mask="00000000" placeholder="Identidade" formControlName="rg">
            </mat-form-field>
    
            <mat-form-field fxFlex="22" class="margin-right">
              <mat-select>
                <mat-option *ngFor="let state of states" value="{{ state.initials }}">{{ state.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field fxFlex="30">
              <input matInput [matDatepicker]="picker"  placeholder="Data de Nascimento" formControlName="dateOfBirth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <mat-card-actions class="btn-save">
              <button mat-button color="primary" matStepperNext>Próximo</button>
          </mat-card-actions>
        </form>
      </mat-step>
      <mat-step [stepControl]="profileContactForm" state="contacts">
        <form [formGroup]="profileContactForm">
          <ng-template matStepLabel>Contatos</ng-template>
            <div>
              <div fxLayout="row">
                <mat-form-field class="margin-right" fxFlex="50">
                  <input matInput type="text" mask="(00) 0000-0000" placeholder="Telefone Fixo" formControlName="telephone">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                  <input matInput type="text" mask="(00) 00000-0000" placeholder="Celular" formControlName="cellphone">
                </mat-form-field>
              </div>
              <mat-form-field class="person-full-width">
                <input matInput type="email" placeholder="E-mail" formControlName="email">
              </mat-form-field>
            </div>
          <mat-card-actions class="btn-save">
              <button mat-button color="primary" matStepperPrevious>Voltar</button>
              <button mat-button color="primary" matStepperNext>Próximo</button>
          </mat-card-actions>
        </form>
      </mat-step>
      <mat-step [stepControl]="profileAddressForm" state="home">
          <form [formGroup]="profileAddressForm">
            <ng-template matStepLabel>Endereço</ng-template>
            <div>
                <div>        
                    <mat-form-field fxFlex="30">
                      <input matInput type="text" formControlName="zip" placeholder="CEP" mask="00.000-000">
                      <mat-icon class="mouse-cursor-pointer"  matSuffix (click)="getZip()">{{ 'search' }}</mat-icon>
                    </mat-form-field></div>
                <div>
                  <mat-form-field class="margin-right" fxFlex="80">
                    <input matInput type="text" formControlName="street" placeholder="Rua" [value]="profileAddressForm.get('street').value">
                  </mat-form-field>
        
                  <mat-form-field fxFlex="20">
                    <input matInput type="text" formControlName="number" placeholder="Número">
                  </mat-form-field>
                </div>
        
                <div>
                  <mat-form-field class="margin-right" fxFlex="40">
                    <input matInput type="text" formControlName="neighborhood" placeholder="Bairro" [value]="profileAddressForm.get('neighborhood').value">
                  </mat-form-field>
        
                  <mat-form-field class="margin-right" fxFlex="40">
                    <input matInput type="text" formControlName="city" placeholder="Cidade" [value]="profileAddressForm.get('city').value">
                  </mat-form-field>
                  
                  <mat-form-field fxFlex="20">
                    <mat-select [(value)]="profileAddressForm.get('state').value" placeholder="Estado" formControlName="state">
                      <mat-option *ngFor="let state of states" [value]="state.initials">{{ state.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <mat-card-actions class="btn-save">
                  <button mat-button color="primary" matStepperPrevious>Voltar</button>
                  <button mat-button color="primary" matStepperNext (click)="getCourseWithGrades()">Próximo</button>
              </mat-card-actions>
          </form>
        </mat-step>
        <mat-step [stepControl]="plansForm" state="fitness_center">
            <form [formGroup]="plansForm">
              <ng-template matStepLabel>Cursos</ng-template>
              <button mat-raised-button color="primary" (click)="addPlan()" style="margin: 10px 0px 10px 0px">Adcionar outro curso
              &nbsp;<mat-icon>add_circle_outline</mat-icon>
              </button>
                <div formArrayName="plans" *ngFor="let item of plansForm.get('plans').controls; let i = index" >
                  <div [formGroupName]="i">

                    <div fxLayout="col" fxLayoutAlign="start start" fxLayoutGap="10px">
                      <mat-list>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div mat-subheader>{{ i+1 }} - Plano</div>
                            <div>
                              <mat-icon matTooltip="Remover" (click)="removePlan(i)" style="color: rgba(0,0,0,.54);">highlight_off</mat-icon>
                            </div>
                        </div>
                      </mat-list> 
                    </div>
                    <div fxLayoutAlign="start start" fxLayoutGap="10px" style="margin-top: 10px">
                      <mat-form-field>
                        <mat-label>Escolha um curso</mat-label>
                        <mat-select formControlName="courseId">
                          <mat-option [value]="course.courseId" *ngFor="let course of courses" (click)="setGrade(course, i)">{{ course.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field *ngIf="grades != null && grades[i] != null">
                        <mat-label>Escolha uma turma</mat-label>
                        <mat-select  formControlName="gradeId">
                          <mat-option [value]="grade.gradeId" *ngFor="let grade of grades[i]"  (click)="setPlans(i)">{{ grade.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field *ngIf="paymentPlans != null && paymentPlans[i] != null">
                        <mat-label>Escolha um plano de pagamento</mat-label>
                        <mat-select  formControlName="planId">
                          <mat-option [value]="plan.planId" *ngFor="let plan of paymentPlans[i]" (click)="setPrice(plan, i)">{{ plan.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field fxFlex="10" *ngIf="prices != null && prices[i] != null">
                        <input matInput type="number" placeholder="Valor" [value]=prices[i]?.price>
                      </mat-form-field>
                      <mat-form-field fxFlex="10"  *ngIf="prices != null && prices[i] != null">
                        <input matInput type="number" step="1" min="1" max="31" placeholder="Vencimento" formControlName="dueDate">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <mat-card-actions class="btn-save">
                  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!plansForm.valid">Salvar</button>
                  <button mat-button color="primary" matStepperPrevious>Voltar</button>
                  <button mat-button color="primary" (click)="stepper.reset(); resetPlans()">Reiniciar</button>
                </mat-card-actions>
            </form>
          </mat-step>
        <!-- Icon overrides. -->
        <ng-template matStepperIcon="phone">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="home">
          <mat-icon>home</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="contacts">
          <mat-icon>contacts</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="person">
          <mat-icon>person</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="fitness_center">
          <mat-icon>fitness_center</mat-icon>
        </ng-template>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>

  <!--mat-card class="person-card row">
    <mat-card-content>
      
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="person-form">
      <h4>Informações Pessoais</h4>
      <div>
        <mat-form-field class="margin-right" fxFlex="70">
          <input matInput type="text" placeholder="Nome" formControlName="name">
        </mat-form-field>
        <mat-list fxFlex="30">
          <label mat-subheader>Sexo</label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="F">Feminino</mat-radio-button>
            <mat-radio-button value="M">Masculino</mat-radio-button>
          </mat-radio-group>
        </mat-list> 
      </div>

      <div fxLayout="col">
        <mat-form-field fxFlex="22" class="margin-right">
          <input matInput type="text" mask="000.000.000-00" placeholder="CPF" formControlName="cpf">
        </mat-form-field>
        <mat-form-field fxFlex="22" class="margin-right">
          <input matInput type="text" mask="00000000" placeholder="Identidade" formControlName="rg">
        </mat-form-field>

        <mat-form-field fxFlex="22" class="margin-right">
          <mat-select [(value)]="selected">
            <mat-option *ngFor="let state of states" value="{{ state.initials }}">{{ state.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field fxFlex="30">
          <input matInput [matDatepicker]="picker"  placeholder="Data de Nascimento" formControlName="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      <div>
        <h4>Contatos</h4>
        <div fxLayout="row">
          <mat-form-field class="margin-right" fxFlex="50">
            <input matInput type="text" mask="(00) 0000-0000" placeholder="Telefone Fixo" formControlName="telephone">
          </mat-form-field>
          <mat-form-field fxFlex="50">
            <input matInput type="text" mask="(00) 00000-0000" placeholder="Celular" formControlName="cellphone">
          </mat-form-field>
        </div>
        <mat-form-field class="person-full-width">
          <input matInput type="email" placeholder="E-mail" formControlName="email">
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div formGroupName="address">
        <h4>Endereço</h4>
        <div>        
            <mat-form-field fxFlex="30">
              <input matInput type="text" formControlName="zip" placeholder="CEP" mask="00.000-000">
              <mat-icon class="mouse-cursor-pointer"  matSuffix (click)="getZip()">{{ 'search' }}</mat-icon>
            </mat-form-field></div>
        <div>
          <mat-form-field class="margin-right" fxFlex="80">
            <input matInput type="text" formControlName="street" placeholder="Rua" [value]="profileForm.get('address').get('street').value">
          </mat-form-field>

          <mat-form-field fxFlex="20">
            <input matInput type="text" formControlName="number" placeholder="Número">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="margin-right" fxFlex="33">
            <input matInput type="text" formControlName="neighborhood" placeholder="Bairro" [value]="profileForm.get('address').get('neighborhood').value">
          </mat-form-field>

          <mat-form-field class="margin-right" fxFlex="33">
            <input matInput type="text" formControlName="city" placeholder="Cidade" [value]="profileForm.get('address').get('city').value">
          </mat-form-field>
          
          <mat-form-field fxFlex="34">
            <mat-select [(value)]="profileForm.get('address').get('state').value" placeholder="Estado">
              <mat-option *ngFor="let state of states" value="{{ state.initials }}">{{ state.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
    <mat-card-actions class="btn-save">
      <button  mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!profileForm.valid">Salvar</button>
      <button  mat-button color="primary">Limpar</button>
    </mat-card-actions>
  </mat-card>
</div-->
