<div fxLayoutAlign="start start" fxLayoutGap="10px" style="margin-top: 10px">
  <mat-form-field>
    <mat-label>Escolha um curso</mat-label>
    <mat-select >
      <mat-option [value]="course.courseId" *ngFor="let course of courses; let i = index" (click)="setGrade(course, i)">{{ course.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="grades != null && grades!= null">
    <mat-label>Escolha uma turma</mat-label>
    <mat-select  >
      <mat-option [value]="grade.gradeId" *ngFor="let grade of grades" >{{ grade.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="paymentPlans != null && paymentPlans">
    <mat-label>Escolha um plano de pagamento</mat-label>
    <mat-select >
      <mat-option [value]="plan.planId" *ngFor="let plan of paymentPlans; let i = index">{{ plan.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="10" *ngIf="prices != null && prices[i] != null">
    <input matInput type="number" placeholder="Valor" [value]=prices[i]?.price>
  </mat-form-field>
  <mat-form-field fxFlex="10"  *ngIf="prices != null && prices[i] != null">
    <input matInput type="number" step="1" min="1" max="31" placeholder="Vencimento">
  </mat-form-field>
</div>
