<mat-nav-list>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon color="primary">person</mat-icon> <span class="nav-caption">Usuários</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="item-menu" routerLink="/person/new" (click)="onSidenavClose()">
            <span>Novo Usuários</span>
        </div>
        <div class="item-menu"  routerLink="/person/person-details" (click)="onSidenavClose()">
            <span>Visuallizar Usuários</span>
        </div>      
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon color="primary">assignment_ind</mat-icon> <span class="nav-caption">Cursos</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="item-menu" routerLink="/course/dashboard" (click)="onSidenavClose()">
            <span class="align-sub-menu">Visualizar Cursos</span>   
        </div>     
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon color="primary">class</mat-icon><span class="nav-caption">Turmas</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="item-menu" routerLink="/grade/new-person" (click)="onSidenavClose()">
            <span>Inserir aluno na turma</span>
        </div>   
        <div class="item-menu" routerLink="/grade/dashboard" (click)="onSidenavClose()">
            <span>Visualizar Turmas</span>
        </div>      
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon color="primary">credit_card</mat-icon><span class="nav-caption">Pagamentos</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="item-menu" routerLink="/payment/dashboard" (click)="onSidenavClose()">
            <span>Realizar Pagamento</span>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">settings</mat-icon><span class="nav-caption">Configuração</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="item-menu" routerLink="/settings/new-admin" (click)="onSidenavClose()">
                <span>Adicionar administrador</span>
            </div>
        </mat-expansion-panel>
  </mat-nav-list>