<mat-card class="container-card">
  <mat-card-header>
    <mat-card-title>Turmas</mat-card-title>
    <mat-card-subtitle>Turmas cadastradas no sistema.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div fxLayout="row" fxLayoutAlign="space-between center" [formGroup]="gradeForm">
        <div fxLayout="col" fxLayoutAlign="start center" style="margin-bottom:5px">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            <mat-icon matTooltip="Buscar" class="mouse-cursor-pointer"  matSuffix>{{ 'search' }}</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="col" fxLayoutAlign="end center" style="margin-bottom:5px">
          <button color="primary" mat-raised-button (click)="addGradeWithCourse()">Adicionar turma &nbsp;
            <mat-icon class="mouse-cursor-pointer" matTooltip="Adicionar turma">add_circle_outline</mat-icon>
          </button>
        </div>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Turma </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Position Column -->
          <ng-container matColumnDef="courseName">
            <th mat-header-cell *matHeaderCellDef> Curso </th>
            <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef> Criado em </th>
            <td mat-cell *matCellDef="let element"> {{ element.created | date: 'dd-MM-yyyy' }} </td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> Criado por </th>
            <td mat-cell *matCellDef="let element"> {{ element.userName }} </td>
          </ng-container>
    
          <!-- Name Column -->
          <ng-container matColumnDef="vacancy">
            <th mat-header-cell *matHeaderCellDef> Quantidade de vagas </th>
            <td mat-cell *matCellDef="let element"> {{ element.vacancy }} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{ element.status ? 'Ativa' : 'Desativada' }} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>
              <div [hidden]="!isMultiSelected()">
                  <mat-icon class="mouse-cursor-pointer" matTooltip="Deletar cursos" (click)="deleteGrade()">delete</mat-icon>
                </div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="isOnlyOneSelected(element)">
                <!--mat-icon class="mouse-cursor-pointer" matTooltip="Adicionar aluno" (click)="addGrade()">add_circle_outline</mat-icon-->
                <mat-icon class="mouse-cursor-pointer" matTooltip="Editar turma" (click)="editGrade()">edit</mat-icon>
                <mat-icon class="mouse-cursor-pointer" matTooltip="Deletar turma" (click)="deleteGrade()">delete</mat-icon>
              </div> 
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>      
    </div>
  </mat-card-content>
</mat-card>
    