<div class="container-card">
  <mat-card-header>
    <mat-card-title>Nova turma</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="gradeForm">
    <div fxLayout="col" fxLayoutAlign="space-between start" fxLayoutGap="10px">
      <mat-form-field fxFlex>
        <mat-label>Selecione um curso</mat-label>
        <mat-select [(value)]="course"  formControlName="courseId">
          <mat-option value="{{ course.courseId }}" *ngFor="let course of courses" > {{ course.name }}</mat-option>
        </mat-select>
      </mat-form-field>  
      <mat-form-field class="example-full-width" fxFlex>
        <input matInput placeholder="Nome da turma" formControlName="name">
      </mat-form-field>
    </div>
    <div fxLayout="col" fxLayoutAlign="space-evenly center">
      <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Data início" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      <div>
        <mat-form-field fxFlex="99">
          <input matInput [matDatepicker]="picker2" placeholder="Data fim" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field fxFlex="99">
          <input matInput type="time" placeholder="Hora início" [value]="startHour">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="time" placeholder="Hora fim" [value]="endHour">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="col" fxLayoutAlign="space-between start" fxLayoutGap="10px">
        <div>
          <mat-checkbox (click)="addDay(8)">Todos</mat-checkbox>
          <mat-checkbox (click)="addDay(2)">Segunda-feira</mat-checkbox>
        </div>
        <div>
          <mat-checkbox (click)="addDay(3)">Terça-feira</mat-checkbox>
          <mat-checkbox (click)="addDay(4)">Quarta-feira</mat-checkbox>
        </div>
        <div>
          <mat-checkbox (click)="addDay(5)">Quinta-feira</mat-checkbox>
          <mat-checkbox (click)="addDay(6)">Sexta-feira</mat-checkbox>
        </div>
        <div>
          <mat-checkbox (click)="addDay(7)">Sábado</mat-checkbox>
          <mat-checkbox (click)="addDay(1)">Domingo</mat-checkbox>
        </div>
      <div fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
        <mat-form-field class="example-full-width">
          <input type="number" min="1" step="1" matInput placeholder="Quantidade de vagas"  formControlName="vacancy">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Selecione um instrutor</mat-label>
          <mat-select formControlName="userId">
            <mat-option value="option1"  >Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field> 
      </div>
    </div>
  </form>
  <mat-card-actions>
    <div class="btn-save" style="margin-bottom: 15px">
      <button  mat-raised-button color="primary" (click)="onSubmit()" [mat-dialog-close]="true" type="submit">Salvar</button>
      <button  mat-button color="primary" [mat-dialog-close]="false">Cancelar</button>
    </div>
  </mat-card-actions>
</mat-card-content>
</div>
