#container-dashboard {
    text-align: center;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.dashboard-title-page {
    color:  #3f51b5;
}

.custom-card {
    cursor: pointer; 
}

.custom-card:hover {
    background: #eeeeeed4;
}

.custom-mat-icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
}

.custom-card-header {
    display: inherit;
}

.custom-card-header .custom-card-title {
    color: #3f51b5;
}

