<div id="container-dashboard">
  <h2 class="dashboard-title-page">Acesso rápido</h2>
  <div fxLayout="col" fxLayoutAlign="space-around center" >
    <mat-card fxFlex="15" class="custom-card" routerLink="/person/new">
      <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-card-title">Novo aluno</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-icon class="custom-mat-icon" color="primary">person</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="15" class="custom-card" routerLink="/course/dashboard">
      <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-card-title">Novo curso</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-icon class="custom-mat-icon" color="primary">assignment_ind</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="15" class="custom-card" routerLink="/grade/dashboard">
      <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-card-title">Nova Turma</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-icon class="custom-mat-icon" color="primary">class</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="15" class="custom-card" routerLink="/payment/dashboard">
      <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-card-title">Pagamentos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-icon class="custom-mat-icon" color="primary">payment</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="15" class="custom-card" routerLink="/settings/new-admin">
      <mat-card-header class="custom-card-header">
        <mat-card-title class="custom-card-title">Configurações</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-icon class="custom-mat-icon" color="primary">settings</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>
</div>