<mat-card class="header" fxFlex>
    <mat-card-header>
      <mat-card-title *ngIf="!editMode">Novo curso</mat-card-title>
      <mat-card-title *ngIf="editMode">Editar curso</mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <form [formGroup]="courseForm" fxLayoutAlign="space-between center">
      <div fxFill>
        <mat-form-field style="margin-left: 10px" fxFill>
          <input matInput placeholder="Nome" formControlName="name" required>                
        </mat-form-field>
        <div fxLayout="col" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div fxFlex="50" >
              <mat-form-field fxFill>
                <mat-label>Escolha uma modalidade</mat-label>
                <mat-select [ngModel]="courseForm.get('courseId').value" formControlName="modality" >
                  <mat-option [value]="modality.id" *ngFor="let modality of modalities">{{ modality.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="50">
              <mat-radio-group aria-label="Escolha uma modalidade" formControlName="status">
                <mat-radio-button value="true" style="margin: 0px 10px 0px 10px" [checked]="courseForm.get('status').value == true">Ativo</mat-radio-button>
                <mat-radio-button value="false" [checked]="courseForm.get('status').value == false">Inativo</mat-radio-button>
              </mat-radio-group>
              <!--mat-checkbox checked formControlName="status"> {{ courseForm.get('status').value == true ? 'Ativo' : 'Inativo' }}</mat-checkbox-->
            </div>
          </div>
      </div>
      
    </form>
  </mat-card-content>
  <mat-card-actions class="btn-save">
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!courseForm.valid">Salvar</button>
    <button mat-button color="primary" [mat-dialog-close]="false">Cancelar</button>
  </mat-card-actions>
</mat-card>